# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.sock

# Environment variables
.env
.env.*

# Git
.git/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp

# Build outputs
dist/
build/